
imdb_scraper/imdb_scraper/spiders/__pycache__/imdbSpider.cpython-310.pyc
search_movie/__pycache__/search_movie.cpython-310.pyc
imdb_scraper/imdb_scraper/spiders/__pycache__/imdbSpider.cpython-310.pyc
